APP_NAME=Moodly Watch API
DEBUG=true

# Groq
GROQ_API_KEY=tu_api_key_aqui
GROQ_MODEL=llama-3.3-70b-versatile

# Embeddings
EMBEDDING_MODEL=intfloat/multilingual-e5-small

# TMDB
TMDB_API_KEY=tu_tmdb_key_aqui

# MyAnimeList
MAL_CLIENT_ID=
